.fury-page-layout {

}

.fury-page-layout-header {
  background: rgba($theme-color-primary, 0.55);
  backdrop-filter: blur(20px) saturate(160%);
  -webkit-backdrop-filter: blur(20px) saturate(160%);
  color: $theme-color-primary-contrast;

  fury-breadcrumbs {
    .crumb, .link {
      color: $light-secondary-text;

      &:hover {
        color: $light-primary-text;
      }
    }

    .crumb.current, .crumb.current .link {
      color: $light-primary-text;
    }
  }
}
